<a href="/postMealForm"><button>Click here to add a meal</button></a>
<a href="/signup"><button>Signup</button></a>

<h1>The 5 Best Foods In The World</h1>
{{#each foods}}
<a href="/meal/{{id}}"><section>
  <h2>{{foodname}}</h2>
  <img src="{{img}}">
</section></a>
{{/each}}
