<form action="/postMealForm" method="POST">
 <label for="foodname">Food Name<input  name="foodname" type="text"></label>
 <label for="country">Country<input name="country"  type="text"></label>
 <label for="img">Image URL<input name="img"  type="text"></label>
 <label for="description">Description<textarea rows="4" cols="50" name="description"></textarea></label>
 <button type="submit">Click here to add the meal</button>
</form>